<form class="bowlingo-form">
  <div class="input-group roll-inputs">
    <div class="input-group-prepend">
      <span class="input-group-text">Rolls</span>
    </div>
    <input name="firstRoll" [(ngModel)]="firstRoll" type="number" min="0" max="10">
    <input name="secondRoll" [(ngModel)]="secondRoll" type="number" min="0" max="10">
    <input name="bonusRoll" [(ngModel)]="bonusRoll" *ngIf="isBonusRollAwarded()" type="number" min="0" max="10">
    </div>

    <div class="btn-group bowlingo-btn-group" role="group">
      <button class="btn btn-primary" *ngIf="frames.length < 10" (click)="sendScores()">Send Rolls</button>
      <button class="btn btn-dark" (click)="resetGame()">New Game</button>
    </div>
</form>

<div class="scores-container" >
  <div class="score-box" *ngFor="let frame of frames; let i = index">
    <div class="frame-number">
      {{ i + 1 }}
    </div>
    <div class="first-roll">
      {{ getRollText(0, frame) }}
    </div>
    <div class="second-roll">
      {{ getRollText(1, frame) }}
    </div>
    <div class="bonus-roll" *ngIf="frames.length === 10">
      {{ getRollText(2, frame) }}
    </div>
  </div>
</div>

<h1 class="bowlingo-heading"> Current Score: {{ totalScore }} </h1>

<h3 class="bowlingo-heading bg-danger" *ngIf="error"> {{ error.error }} </h3>
